<mat-toolbar style="font-size: 20px; colo ">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam-Portal</span>
    <span class="example-spacer"></span>
    <a routerLink="/login" mat-button class="example-icon favorite-icon fs20  " aria-label="Example icon-button with heart icon">
      Login
   </a>
    <a routerLink="/signup" mat-button class="example-icon fs20 mr20 ml20 " aria-label="Example icon-button with share icon">
      Register
  </a>
</mat-toolbar>